<!DOCTYPE html>
<html>
  <head>
    <title>sarakuma portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite|Quicksand|Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
  </head>
  <body>
    <header>
      <h1>Hello, I am Kumar Saraboji</h1>
      <nav>
        <ul>
          <li><a href="#center-top-left">who?</a></li>
          <li><a href="#center-top-right">what?</a></li>
          <li><a href="#center-bottom-left">why?</a></li>
          <li><a href="#center-bottom-right">more?</a></li>
        </ul>
      </nav>
    </header>
    <section role="main">
      <aside id="left-side">
        <h2></h2>
      </aside>
      <div id="center">
          <div id="center-top">
            <section id="center-top-left">
              <h2><i class="fas fa-id-badge fa-3x fa-fw"></i></h2>
              <div>
                <p><i class="fas fa-briefcase"></i>Currently working as a Software Architect @ <a href="https://www.cognizant.com/" target="_blank"> Cognizant</a></p>
                <p><i class="fas fa-user-ninja"></i>Highly proficient in IBM mainframe technologies/tools &amp; retail domain</p>			
                <p><i class="fas fa-history"></i>Has been a Software Designer @ <a href="https://www.rbs.com/" target="_blank">Royal Bank of Scotland</a> &amp; Assistant Systems Engineer @ <a href="https://www.tcs.com/" target="_blank">Tata Consultancy Services</a></p>
                <p><i class="fas fa-graduation-cap"></i>Masters in Engineering Design &amp; Bachelors in Mechanical Engineering</p>
              </div>
              <div>
                <img src="../images/ada.jpg" alt="ada-logo">
                  <img src="../images/cagen.png" alt="cagen-logo">
                  <img src="../images/ec.jpg" alt="ec-logo">
                  <img src="../images/db2.jpg" alt="db2-logo">
                  <img src="../images/ca.jpg" alt="ca-logo">
                  <img src="../images/compu.jpg" alt="compu-logo">
                  <img src="../images/bmc.png" alt="bmc-logo">
                  <img src="../images/sync.jpg" alt="sync-logo">
              </div>
            </section>
            <section id="center-top-right">
              <h2><i class="fas fa-swimmer fa-3x fa-fw"></i></h2>
              <div>
                <p><i class="fas fa-building"></i>Resolving performance related issues in a much constrained z-cloud platform, designing technical solutions for few integration projects, performing ETL/ELT activities etc.,</p>
                <p><i class="fas fa-book-reader"></i>Learning web technologies, frameworks, desktop application development, cloud technologies, more on the data</p>
                <p><i class="fas fa-not-equal"></i>Solving problems in statistics, probability, algebra, calculus</p>
                <p><i class="fas fa-award"></i>Attending coding bootcamps, earning badges, certificates</p>
              </div>
              <div class="logos">
                  <img src="../images/python.png" alt="python-logo">
                  <img src="../images/R.jpg" alt="r-logo">
                  <img src="../images/pandas.png" alt="pandas-logo">
                  <img src="../images/sqlite.png" alt="sqlite-logo">
                  <img src="../images/html.png" alt="html-logo">
                  <img src="../images/node.png" alt="node-logo">
                  <img src="../images/express.png" alt="express-logo">
                  <img src="../images/edx.png" alt="edx-logo">
                  <img src="../images/kaggle.png" alt="kaggle-logo">
                  <img src="../images/udacity.png" alt="udacity-logo">
                  <img src="../images/plural.png" alt="plural-logo">
                  <img src="../images/medium.png" alt="medium-logo">
              </div>
            </section>
          </div>
          <div id="center-center">
              <div id="albums">
                  <img id="prof1" src="../images/myphoto2.JPG" alt="profile-pic1">
                  <img id="prof2" src="../images/myphoto3.JPG" alt="profile-pic2">
                  <img id="prof3" src="../images/myphoto4.jpg" alt="profile-pic3">
                  <img id="prof4" src="../images/myphoto1.JPG" alt="profile-pic4">
              </div>
          </div>
          <div id="center-bottom">
            <section id="center-bottom-left">
                <h2><i class="fas fa-question fa-3x fa-fw"></i></h2>
              <div>
                  <p style="text-align: center;">why I am venturing outside legacy technology stack?...</p>
                  <p>To build a <em><strong>data scientist</strong></em> & <em><strong>solutions architect</strong></em> portfolio before close of 2018!</p>
                  <p class="flip">Below is my mind map as of July-2018. Please download to view the PDF</p>
              </div>
                <div class="adjust-rel">
                    <div class="adjust-abs">
						<object data="../documents/mind-map-072018.pdf"  type="application/pdf" width="100%" height="200">
							<p><em>This browser does not support PDFs.</em> Please download the PDF to view it: <a href="../documents/mind-map-072018.pdf">Download PDF</a>.</p>
							<param name="wmode" value="transparent" value="true">
                        </object>
                    </div>
                </div>
            </section>
            <section id="center-bottom-right">
              <h2><i class="fas fa-comment-dots fa-3x fa-fw"></i></h2>
              <div>
                  <p>Hope you have liked my responsive (&amp; brief) portfolio website...</p>
                </div>
                <div class="adjust-rel">
                  <audio controls src="../audio/thanks-note.mp3" type="audio/mpeg" width="auto">
                      Sorry, your browser doesn't support embedded audios.
                  </audio>
                </div>
              <div>
                <p>Let's connect!</p>
                <h3><a href="https://www.linkedin.com/in/mechian/" target="_blank"><i class="fab fa-linkedin fa-3x fa-fw"></i></a></h3>
              </div>
            </section>
          </div>
      </div>
      <aside id="right-side">
        <h2> </h2>
      </aside>
    </section>
    <footer>
      <h5>This is <strong><%= count %></strong><sup>th</sup> site hit</h5>
      <h6>RWD using HTML5, CSS3 (grid + flex), express.js &amp; Redis</h6>
    </footer>
  </body>
</html>